@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Charm&family=Lato:wght@300&family=Poppins:ital,wght@0,200;1,300;1,900&family=Roboto:ital,wght@0,300;1,300&family=Tajawal:wght@300;400;500&family=Ultra&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: amita;
    color: #333333;

}
h1{
    
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        padding: 1rem 0rem;
        background-color: #f2c94c;
    
    
}
main{
    /* border: 1px solid; */
   width: 600px;
   margin: auto;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   border: none;
   margin: 1.5rem 0rem;
   font-family: inherit;

}
textarea{
    width: 100%;
    padding: 0.1rem;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;

}
#translate-btn{
    background-color: #f2c94c;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 1.5rem 0rem;
    cursor: pointer;
}
#output{
    border: 1px solid black;
    padding :2rem;
    font-size: large;
    border-radius: 2px;
    font-family: inherit;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;


}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background-color: #f2c94c;
    /* align-items: center;
} */
footer p{
    width: 600px;
    border: 2px solid black;
    margin: auto;
}
#id{
    font-size: 20px;
}